body {
  background-color: #1D1F21;
  background-size: cover;
}

#splash-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
  color: #e0e0e0;
  font-size: 4.5vmin;
  line-height: 1.4;
}

#splash-content pre {
  display: inline-block;
  text-align: left;
}

.cyan {
  color: #8abeb7;
}

.purple {
  color: #b294bb;
}

.red {
  color: #cc6666;
}

.yellow {
  color: #f0c674;
}

.gray {
  color: #969896;
}

.cursor {
  animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
