body {
  background-color: #2B2E32;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  color: #e0e0e0;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

li {
  padding-left: 2em;
  font-size: 1.1em;
  cursor: pointer;
}

li:hover {
  color: #A48AAD;
}

#splash-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #e0e0e0;
  font-size: 3.8vmin;
  line-height: 1.4;
}

#splash-content pre {
  display: inline-block;
  text-align: left;
}

a {
  text-decoration: none;
  color: #A48AAD;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #A48AAD;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
}

nav {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
}

main {
  background-color: #A48AAD;
}

#logo-container {
  font-family: 'Roboto Mono', monospace;
}

.wordmark {
  font-size: 2em;
  display: block;
  margin: 0.67em 0;
}

.hero {
  /* width: 100%; */
  padding: 3em 4em;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero h1 {
  font-size: 3.2em;
}

.hero-title {
  width: 100%;
}

.hero-words {
  display: flex;
  width: 80%;
  color: #2B2E32;
  font-size: 1.3em;
}

.cyan {
  color: #8abeb7;
}

.purple {
  color: #A48AAD;
}

.red {
  color: #cc6666;
}

.yellow {
  color: #f0c674;
}

.gray {
  color: #969896;
}

.blue {
  color: #81a2be;
}

.projects-container {
  background-color: #e0e0e0;
  color: #2B2E32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects-container-title {
  border-bottom: 3px solid #A48AAD;
  padding-bottom: 5px;
  margin: 50px auto;
  margin-bottom: 70px;
}

.project {
  /* width: 100%; */
  max-width: 700px;
  padding: 15px;
  margin-bottom: 3.5em;
}

.project h3 {
  font-size: 2.2em;
  color: #A48AAD;
  /* padding-left: 40px; */
  margin: 0;
}

.project-inner {
  display: flex;
  align-items: center;
}

.project-img {
  max-width: 30%;
}

.project-img img {
  width: 100%;
  height: auto;
}

.project-text {
  flex: 4;
  padding-left: 30px;
}

.project-title-container {
  display: flex;
  align-items: center;
}

.project-title-container .button {
  margin-left: 20px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  background-color: #2B2E32;
  padding: 10px;
  border-radius: 30px;
  margin: 6px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  color: #e0e0e0;
}

.button a:hover {
  color: #A48AAD;
}

.cursor {
  animation: blink-animation 1s steps(2, start) infinite;
  vertical-align: -10%;
}

@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    padding-left: 0;
    padding: 1em;
  }

  .hero {
    padding: 2em 3em;
  }

  .hero-title h1 {
    font-size: 8vw;
  }

  .hero-words {
    font-size: 1em;
  }

  .project-inner {
    flex-direction: column;
  }

  .project-img {
    max-width: 50%;
    margin-bottom: 30px;
  }

  .project-text {
    padding: 30px;
  }

  #logo-container {
    font-size: 3vw;
  }

  .mock {
    margin-bottom: -30px;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
